*{
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    justify-content:center;
    height:100vh;
    background: lightblue;
}
#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;   
    width: 100%;
    height: 50px;
    background: gray;
}
#menu button{
    width: auto;
    padding: 5px;
}

#container{
    margin-top:50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.words{
    font-size:10px;
  }
  #tooltip{
    background-color:white;
  }